/*
	Variables
	------------------------------------------------
*/
$icon-font : 'sunset-icon';
$body-font : 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;

$light-grey: #898989;
$lighter-grey: #f1f1f1;
$dark-grey: #333;
$primary-color: #000;