

.sunset-format-audio {
    h1 {
        font-size: 30px;
        &.entry-title {
            display: inline-block;
            margin-right: 20px;
            &:before, &:after {
                display: none;
            }
        }
    }
    .entry-meta {
        display: inline-block;
        margin-bottom: 0;
    }
    .entry-content {
        iframe {
            width: 100%;
            height: 166px;
        }
    }
}

