

.sunset-format-image {
    margin-top: 50px;
    .entry-header {
        height: 600px;
        @extend %text-shadow;
        position: relative;
    }
    h1,
    .entry-meta,
    .entry-header {
        color: #fff;
        a {
            color: #fff;
        }
    }
    h1 {
        padding-top: 10px;
    }
}

.entry-excerpt {
    &.image-caption {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        @extend %background-gradient;
        margin: 0;
        p {
            margin: 40px 0;
        }
    }
}