/*
Error: Undefined variable: "$light-grey".
        on line 29 of sass/post-formats/standard.scss

24: }
25: 
26: .entry-meta {
27:     font-size: 13px;
28:     font-weight: 200;
29:     color: $light-grey;
30:     margin-bottom: 20px;
31:     a {
32:         font-weight: 500;
33:         color: $light-grey;
34:         &:hover,

Backtrace:
sass/post-formats/standard.scss:29
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/script/tree/node.rb:50:in `perform'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:402:in `visit_prop'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/stack.rb:79:in `with_base'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:444:in `map'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/stack.rb:135:in `with_frame'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/stack.rb:79:in `with_base'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `each'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-3.5.3/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/shan/.rvm/gems/ruby-2.3.0@global/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$light-grey\".\A         on line 29 of sass/post-formats/standard.scss\A \A 24: }\A 25: \A 26: .entry-meta {\A 27:     font-size: 13px;\A 28:     font-weight: 200;\A 29:     color: $light-grey;\A 30:     margin-bottom: 20px;\A 31:     a {\A 32:         font-weight: 500;\A 33:         color: $light-grey;\A 34:         &:hover,"; }
